/* ui/tui/tui.css */

Screen {
    overflow-y: auto;
    background: black;
}

#input {
    background: black;
    margin-bottom: 1;
}

#output {
    color: white;
    overflow-y: auto;
    padding: 0 1;
}
