/* ui/tui/tui.css */
#show-log,#analyze-crash,#show-timeline,#exit{
  width: 100%;
}
#menu{
  width: 100%;
}
#output {
  background: #000000;
  padding: 1;
  border: solid #717171;
  overflow-y: auto;
  height: 100%;
  color: #eceff4;
}